header {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
header h1 {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  div#body {
    margin-left: calc((100% - 1200px) / 2);
    margin-right: calc((100% - 1200px) / 2);
  }
}

button {
  margin: 20px;
  padding: 15px;
  font-size: 24px;
  background-color: #DDDDDD;
  border: none;
  cursor: pointer;
  color: #000000;
  border-radius: 4px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

button:hover {
  background-color: #BBBBBB;
}

div#preview {
  display: none;
}